@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles ensuring Electron behaves like a desktop app */
body {
  user-select: none; /* Prevent text selection mostly */
  -webkit-user-select: none;
}

/* Allow selection in editor */
.editor-content {
  user-select: text;
  -webkit-user-select: text;
}

/* Utility for text truncation fade */
.mask-linear-fade {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}